# === Python ===

# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Testing
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS Files
*~
*.swp
.DS_Store
Thumbs.db
ehthumbs.db

# Backend pycache
backend/__pycache__

# === Tarot cards ===
Cards-png-Test/
Cards-webp-Prod/
Cards-png-Prod/

# Environment variables
.env
frontend/.env

# Minio data
minio-data/

# Todo
todo.txt

# === Node.js ===

# Node modules (ignore everything in node_modules)
node_modules/