# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/
.dmypy.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker related
docker-compose.override.yml
*.log

# Other
*.sqlite3
